# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Sanity check
      run: make sanity-check

    - name: Lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: latest
        install-mode: goinstall
        args: --timeout=5m --verbose

    - name: Build
      run: make build

    - name: Test
      run: make test
